---
interface Props {
    name: string;
    url: string;
}

const { name, url } = Astro.props;
const filename = `icono de ${name}`
---

<li
    class="badge w-[150px] flex items-center justify-center gap-3 px-auto py-1 border-zinc-400 rounded-full"
>
    <img src={url} alt={filename} class="w-6 h-auto p-0 object-contain" />
    <span class="text-sm font-semibold">{name}</span>
</li>

<style>
    .badge {
        display: flex;
        color: #fff;
        background-image: linear-gradient(45deg, #111 10%, silver 80%);
        border: 1px solid #efe060;
        font-size: 14px;
        font-weight: 500;
        gap: 8px;
    }
</style>
