---
interface Props {
  name: string;
  url: string;
}

const { name, url } = Astro.props;
const filename = `icono de ${name}`;
---

<p class="flex justify-center items-center bg-gray-800 !gap-x-3 !px-6 !py-2 rounded-full border-[1px] border-white">
  <img src={url} alt={filename} class="size-5" />
  <span class="text-md font-semibold italic">{name}</span>
</p>