---
interface Props {
  link: string;
}
const { link } = Astro.props;
---

<a
  href={link}
  target="_blank"
  class="flex gap-x-3 text-base font-semibold text-white items-center justify-center border rounded-full !px-5 !py-2 hover:scale-110"
>
  <slot />
</a>