---
import GitHubProfile from "@/assets/profiles/GitHubProfile.astro";
import Section from "../components/Section.astro";

import LinkedInProfile from "@/assets/profiles/LinkedInProfile.astro"
import EmailProfile from "@/assets/profiles/EmailProfile.astro";
import ProfileIconContainer from "@/components/ProfileIconContainer.astro"
---

<Section id="about">
    <picture class="w-[80%] h-auto flex !ml-30 !mt-3">
      <img
        class="foto-mia rounded-full opacity-80 aspect-auto objet-fit"
        src="/images/foto-mia.webp"
        alt="Foto mía"
      />
    </picture>
  
    <div class="w-[80%] text-base min-2xl:text-xl font-bold flex flex-col gap-y-6 text-[var(--title)] !my-5">
      
      <p class="text-wrap">Hey, soy <span class="text-[#efe060]">Juan Palma,</span> Soy <span class="text-[#efe060]">Desarrollador Frontend</span> autodidacta con más de 2 años de experiencia. Me especializo en Astro.js, React, Vite, Tailwind y CSS, construyendo interfaces modernas, escalables y con alto rendimiento.
      </p>

      <p class="text-wrap">
        He llevado a cabo múltiples proyectos personales y colaborativos: desde sitios estáticos con Astro.js y Vite, hasta aplicaciones interactivas con React y estilos limpios con Tailwind.
      </p>

      <p class="text-wrap">
        A continuación presento mis proyectos.
      </p>

    </div>

    <div class="grid grid-cols-2 md:grid-cols-3 gap-5 mb-10">
      <ProfileIconContainer link="https://www.linkedin.com/in/juan-palma-alvarez/">
        <LinkedInProfile class="size-4" />
        LinkedIn
      </ProfileIconContainer>
  
      <ProfileIconContainer link="https://github.com/jpalma76">
        <GitHubProfile class="size-4" />
        GitHub
      </ProfileIconContainer>
  
      <ProfileIconContainer link="mailto:juan.palma.alvarez@gmail.com">
        <EmailProfile class="size-4" />
        Email
      </ProfileIconContainer>
    </div>
</Section>

<style>
  #about {
    background-image: radial-gradient(
			circle,
			#050502 30%,
			#efe060 50%
		);
  }
  .foto-mia {
    width: 125px;
    height: 125px;
  }
</style>
