---

import BriefCase from "@/assets/icons/BriefCase.astro";
import Section from "../components/Section.astro";
import ExpericenceItem from "@/components/ExpericenceItem.astro";



const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Realización de cursos y proyectos sacados de Youtube",
    description:
      "Realización de proyectos en Astro y React de Youtube para aprender nuevas tecnologías, técnicas y herramientas de programación ",
  },
  {
    date: "2023",
    title: "Realización varios cursos de programación",
    description:
      "Realización de forma exitosa de varios cursos de programación web en la plataforma Platzi y en el programa Jóvenes Programadores de Biblioredes",
  },
  {
    date: "2022",
    title: "Realización de varios cursos de Programación en Platzi y proyectos de Youtube.",
    description:
      "Realización de varios cursos de Programación en Platzi y proyectos de Youtube en lenguajes como html, css, javascript, php, c#, React.",
  }
];
---

<Section id="formation">
    <h2 class="w-full flex items-center flex-row gap-x-2 text-3xl">
        <BriefCase class="size-7" />
        Formación
    </h2>

    <div class="w-full mx-auto flex flex-col border-gray-400 dark:border-gray-700 !gap-y-2 mb-3">
        {
            EXPERIENCE.map(experience => (
            <p>
                <ExpericenceItem { ...experience } />
            </p>
        ))
        }
        
    </div>
</Section>
