<header class="max-w-full h-16 flex flex-row justify-center items-center">
    
    <nav class=" max-w-full text-xl xs:text-sm flex justify-center items-center gap-x-3 md:gap-x-8 transition w-full px-3 py-1">
        <a class="px-3 py-1" href="/">Inicio</a>        
        <a class="hidden xl:block rounded-full p-1" href="#about">Sobre mí</a>

        <a class="rounded-full p-1 text-xl xs:text-sm" href="#projects">Proyectos</a>
        <a class="rounded-full p-1 text-xl xs:text-sm" href="#formation">Formación</a>
        <a class="hidden md:block text-xl xs:text-sm rounded-full p-1" href="#skills">Skills</a>
        <a class="hidden sm:block text-xl xs:text-sm" href="#contact">Contacto</a>
        <a href="#contact" title="Contacto">
          <img
            class="w-[35px] h-[35px] xs:w-24 xs:h-24 avatar rounded-full opacity-80 aspect-auto objet-fit"
            src="./images/avatar.webp"
            alt="avatar Jpalma76"
          />
        </a>
        
    </nav>
</header>

<style>
  a:hover {
    scale: 110%;
    color: var(--hover);
  }
  .avatar {
    width: 40px;
    height: 40px;
  }

</style>