---
import Section from "../components/Section.astro";
import ProjectItem from "@/components/ProjectItem.astro";

import ProjectIcon from "@/assets/icons/ProjectIcon.astro";

const PROJECTS = [
    {
        title: "Landing page de la JSConf2024 (NO OFICIAL)",
        date: "Realizado en Octubre, 2024",
        description:
            "Confecci칩n de la landing page JSConf 2024 no oficial, realizado con Astro, Tailwind y CSS nativo.",
        link: "https://landing-js-conf2024.netlify.app/",
        repo: "https://github.com/jpalma76/landing-js-conf2024",
        url: "/images/jsconf2024.webp"
    },
    {
        title: "Landing page de la Velada IV",
        date: "Realizado en Abril, 2024",
        description:
            "Confecci칩n de la landing de la Velada IV copiada de @Midudev, realizado con Astro, Tailwind y CSS nativo.",
        link: "https://copia-de-pre-landing-de-la-velada-iv.netlify.app/",
        repo: "https://github.com/jpalma76/copia-de-la-velada-landing",
        url: "/images/la-velada-IV.webp"
    },
    {
        title: "Porfolio-dev",
        date: "realizado en Enero, 2024",
        description: "Porfolio Dev realizado con Astro, Tailwind y Flowbite.",
        link: "https://copia-de-portfolio-dev.netlify.app/",
        repo: "https://github.com/jpalma76/porfolio-dev",
        url: "/images/porfolio-dev.webp"
    },
    {
        title: "Portafolio Web con HTML, Css Nativo, JavaScript ",
        date: "Realizado en Julio, 2022",
        description:
            "Primer porfolio realizado con HTML y CSS nativo.",
        link: "https://portafolio-juan-palma.netlify.app/",
        repo: "https://github.com/jpalma76/portafolio",
        url: "/images/porfolio-web.webp"
    },
     {
        title: "Landing de la Desvelada V",
        date: "Realizado en Abril de 2025",
        description:
            "Copia de la Landing de la Velada V",
        link: "https://la-desvelada-v-sitio-no-oficial.netlify.app/",
        repo: "https://github.com/jpalma76/la-desvelada-copia-de-la-velada",
        url: "/images/la-velada-V.webp"
    },
     {
        title: "Copia pre-landing de la p치gina de Bigibai ",
        date: "Realizado en Octubre de 2025",
        description:
            "Copia de la pre-landing de la la p치gina bigibai",
        link: "https://bigibai-copy.netlify.app/",
        repo: "https://github.com/jpalma76/bigibai-2025-copy-netlify",
        url: "/images/screenshot-bigibai.png"
    },
];
---

<Section id="projects">
    <h2 class="w-[full] px-4 flex gap-x-4 mb-3 items-center text-3xl text-left">
        <ProjectIcon class="size-7" />
        Proyectos
    </h2>

    <ul class="w-full mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4 !gap-8 !my-8 transition-all">
        {
            PROJECTS.map((project) => (
                <li class="w-full">
                    <ProjectItem {...project} />
                </li>
            ))
        }
    </ul>
</Section>


