---
import CodeIcon from "@/assets/icons/CodeIcon.astro";
import Section from "@/components/Section.astro";

import SkillItem from "@/components/SkillItem.astro";

const skills_programmer = [
  {
    name: "HTML",
    url: "/images/skills/html.webp",
  },
  {
    name: "CSS",
    url: "/images/skills/css.webp",
  },
  {
    name: "JavaScript",
    url: "/images/skills/javascript.webp",
  },
  {
    name: "React",
    url: "/images/skills/react.webp",
  },
  {
    name: "AstroJS",
    url: "/images/skills/astro.webp",
  },
  {
    name: "Tailwind CSS",
    url: "/images/skills/tailwind.webp",
  },
  {
    name: "JSON",
    url: "/images/skills/json.webp",
  },
  {
    name: "SQL",
    url: "/images/skills/sql.webp",
  },
  {
    name: "MySQL",
    url: "/images/skills/mysql.webp",
  },
  {
    name: "SQLite",
    url: "/images/skills/sqlite.webp",
  },
  {
    name: "Git",
    url: "/images/skills/git.webp",
  },
  {
    name: "GitHub",
    url: "/images/skills/github.webp",
  },
];
---

<Section id="skills">
  <h2
    class="w-full flex items-center justify-center flex-row gap-x-2 text-3xl !my-3"
  >
    <CodeIcon class="size-8" />
    Mis Skills son:
  </h2>
  <h3 class="text-2xl font-semibold">Desarrollo web</h3>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-x-8 gap-y-6 text-center">
    {
      skills_programmer.map((skill) => (
        <SkillItem name={skill.name} url={skill.url} />
      ))
    }
  </div>
</Section>

<style>
    @media(max-width:400px) {
      .grid {
        width: 90%;
      }
    }
</style>