---
import "@fontsource/ibm-plex-mono";

interface Props {
  title: string;
  description: string;
}

const {title, description} = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />

    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content={description} />

    <meta
      name="keywords"
      content="Frontend, Desarrollador Web, Astro, React, Tailwind, Portafolio, Juan Palma"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

    <!-- Nombre del autor del sitio -->
    <meta name="author" content="Juan Palma" />

    <!-- Facebook Meta Tags -->
  <meta property="og:url" content="https://porfolio-dev-jpalma76.netlify.app/">
  <meta property="og:type" content="website">
  <meta property="og:title" content="Porfolio web de Juan Palma">
  <meta property="og:description" content="Porfolio web profesional de Juan Palma @jpalma76.">
  <meta property="og:image" content="https://porfolio-dev-jpalma76.netlify.app/images/og.png">
  <meta property="og:locale" content="es_ES" />

  <!-- Twitter Meta Tags -->
  <meta name="twitter:card" content="summary_large_image">
  <meta property="twitter:domain" content="porfolio-dev-jpalma76.netlify.app">
  <meta property="twitter:url" content="https://porfolio-dev-jpalma76.netlify.app/">
  <meta name="twitter:title" content="Porfolio web de Juan Palma">
  <meta name="twitter:description" content="Porfolio web profesional de Juan Palma @jpalma76.">
  <meta name="twitter:image" content="https://porfolio-dev-jpalma76.netlify.app/images/og.png">
  <meta name="twitter:creator" content="@jpalma76" />
  <meta name="twitter:type" content="website" />
  <meta name="twitter:site" content="https://porfolio-dev-jpalma76.netlify.app/" />

</head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --bg-dark: #050502;
    --font-dark: white;
    --bg-light: #ddd;
    --font-light: #000;
    --title: #aaa;
    --subtitle: #bbb;
    --description: #ccc;
    --hover: #f1d34e;
  }

  html {
    font-family:
      "IBM Plex Mono", "Courier New", Courier, monospace, system-ui, sans-serif;
  }
  body {
    display: flex;
    flex-direction: column;
    background: var(--bg-dark);
    color: var(--font-dark);
  }
  img {
    aspect-ratio: auto;
  }
</style>
